<form action="">
    <div class="mb-3">
      <input type="text" name="userid" [(ngModel)]="userid" id="userid">
      <br>
      <label for="lbo" class="form-label">LBO: </label>
      <input type="number" class="form-control" minlength="11" maxlength="11"  name="lbo" required>
    </div>
    <div class="mb-3">
      <label for="datex" class="form-label"> Datum isteka knjizice: </label>
      <input type="date" class="form-control" name="datex">
    </div>
    <div class="mb-3">
        <label for="datever" class="form-label">Datum overe knjizice:</label>
        <input type="date" class="form-control" name="datever">
    </div>
    <button  class="btn btn-primary">
      Izdaj novu zdravstvenu knjizicu
    </button>
</form>