<br><br>
<div class="alert alert-success" role="alert" id="add-success-alert">
  Zdravstvena knjizica je uspesno kreirana!
</div>

<div class="alert alert-success" role="alert" id="update-success-alert">
    Zdravstveni centar uspesno zamenjen!
</div>

<div class="alert alert-success" role="alert" id="delete-success-alert">
    Zdravstveni centar uspesno obrisat!
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zdravstvena knjizica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-addhcards  *ngIf="activateSave"></app-addhcards>
      </div>    
    </div>
  </div>
</div>
<div *ngFor="let req of requests">
<div *ngIf="req.type_id=='3'"  class="card" style="width: 60rem;margin-bottom: 2rem;">
  <img class="card-img-top" [src]="createImgPath(req.document)" alt="documenttt">
  <div class="card-body">
    <h5 class="card-title">Document</h5>
    <div *ngFor="let ur of usersList$|async" style="margin-bottom: 10px;">
    <p *ngIf="req.userid==ur.id" class="card-text">{{ur.firstName}} {{ur.lastName}}</p>
    </div>
    <button (click)="modalSave(req)" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-outline-primary me-2 mb-1">Kreiraj novu zdravstvenu knjizicu</button>
  </div>
</div>
</div>
